{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}

<div class="row">
        <div class="col">
            <h1>Character index</h1>
        </div>
        <a href="{{ path('backoffice_character_new') }}">Ajouter un personnage</a>

{% include "backoffice/_partials/_navbar_backoffice.html.twig" %} 
<div class="col-10">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PublishedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td><a href="{{ path('backoffice_character_show', {'id': character.id}) }}">{{ character.firstName }}</a></td>
                <td>{{ character.lastName }}</td>
                <td>{{ character.publishedAt ? character.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ character.createdAt ? character.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ character.updatedAt ? character.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('backoffice_character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('backoffice_character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}
